<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name></display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>finance.ideal.ui.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>finance.ideal.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chaincode</servlet-name>
        <servlet-class>finance.ideal.ui.queryChainCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>finance.ideal.ui.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chaincodedetail</servlet-name>
        <servlet-class>finance.ideal.ui.queryChainCodeDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chaincodemodel</servlet-name>
        <servlet-class>finance.ideal.ui.queryChainCodeModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chaincodemodeldetail</servlet-name>
        <servlet-class>finance.ideal.ui.queryChainCodeModelDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>workplace</servlet-name>
        <servlet-class>finance.ideal.ui.queryWorkBaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>workplaceList</servlet-name>
        <servlet-class>finance.ideal.ui.queryWorkBaseListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>businesslistdetail</servlet-name>
        <servlet-class>finance.ideal.ui.queryBusinessListDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>businesslist</servlet-name>
        <servlet-class>finance.ideal.ui.queryBusinessListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>member</servlet-name>
        <servlet-class>finance.ideal.ui.MemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>memberadd</servlet-name>
        <servlet-class>finance.ideal.ui.MemberAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>memberdetail</servlet-name>
        <servlet-class>finance.ideal.ui.MemberDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>model</servlet-name>
        <servlet-class>finance.ideal.ui.ModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modeldetail</servlet-name>
        <servlet-class>finance.ideal.ui.ModelDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>log</servlet-name>
        <servlet-class>finance.ideal.ui.LogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logdetail</servlet-name>
        <servlet-class>finance.ideal.ui.LogDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p2ploan</servlet-name>
        <servlet-class>finance.ideal.ui.P2PServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p2pcompany</servlet-name>
        <servlet-class>finance.ideal.ui.P2PCompanySelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prettyloan</servlet-name>
        <servlet-class>finance.ideal.ui.PrettyLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enterprise</servlet-name>
        <servlet-class>finance.ideal.ui.EnterpriseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>netloan</servlet-name>
        <servlet-class>finance.ideal.ui.NetLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>personalloan</servlet-name>
        <servlet-class>finance.ideal.ui.PersonalLoanServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>personaloperator</servlet-name>
        <servlet-class>finance.ideal.ui.PersonalOperatorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p2pSelect</servlet-name>
        <servlet-class> finance.ideal.ui.P2PSelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileSelectServlet</servlet-name>
        <servlet-class>finance.ideal.ui.FileSelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>finance.ideal.ui.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Control</servlet-name>
        <servlet-class>finance.ideal.ui.ControlServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chaincode</servlet-name>
        <url-pattern>/chaincode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chaincodedetail</servlet-name>
        <url-pattern>/chaincodedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chaincodemodel</servlet-name>
        <url-pattern>/chaincodemodel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chaincodemodeldetail</servlet-name>
        <url-pattern>/chaincodemodeldetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>workplace</servlet-name>
        <url-pattern>/workplace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>workplaceList</servlet-name>
        <url-pattern>/workplaceList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>businesslist</servlet-name>
        <url-pattern>/businesslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>businesslistdetail</servlet-name>
        <url-pattern>/businesslistdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>member</servlet-name>
        <url-pattern>/member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>memberadd</servlet-name>
        <url-pattern>/memberadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>memberdetail</servlet-name>
        <url-pattern>/memberdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>model</servlet-name>
        <url-pattern>/model</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modeldetail</servlet-name>
        <url-pattern>/modeldetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logdetail</servlet-name>
        <url-pattern>/logdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p2ploan</servlet-name>
        <url-pattern>/p2ploan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p2pcompany</servlet-name>
        <url-pattern>/p2pcompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prettyloan</servlet-name>
        <url-pattern>/prettyloan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enterprise</servlet-name>
        <url-pattern>/enterprise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>personalloan</servlet-name>
        <url-pattern>/personalloan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>netloan</servlet-name>
        <url-pattern>/netloan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>personaloperator</servlet-name>
        <url-pattern>/personaloperator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p2pSelect</servlet-name>
        <url-pattern>/p2pSelect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileSelectServlet</servlet-name>
        <url-pattern>/FileSelectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UploadDownloadServlet</servlet-name>
        <servlet-class>finance.ideal.ui.UploadDownloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadDownloadServlet</servlet-name>
        <url-pattern>/UploadDownloadServlet</url-pattern>
    </servlet-mapping>


    <!--张伟的web-->
    <servlet>
        <servlet-name>PrettyLoanRegisterServlet</servlet-name>
        <servlet-class>finance.ideal.ui.PrettyLoanRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrettyloanRegister</servlet-name>
        <servlet-class>finance.ideal.controller.PrettyloanRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabelUtil</servlet-name>
        <servlet-class>finance.ideal.util.LabelUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimulationCollisionUtil</servlet-name>
        <servlet-class>finance.ideal.util.SimulationCollisionUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperatorSimulationCollisionUtil</servlet-name>
        <servlet-class>finance.ideal.util.OperatorSimulationCollisionUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterpriseSimulationCollisionUtil</servlet-name>
        <servlet-class>finance.ideal.util.EnterpriseSimulationCollisionUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>P2pSimulationCollisionUtil</servlet-name>
        <servlet-class>finance.ideal.util.P2pSimulationCollisionUtil</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PrettyLoanRegisterServlet</servlet-name>
        <url-pattern>/PrettyLoanRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrettyloanRegister</servlet-name>
        <url-pattern>/PrettyloanRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabelUtil</servlet-name>
        <url-pattern>/LabelUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimulationCollisionUtil</servlet-name>
        <url-pattern>/SimulationCollisionUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperatorSimulationCollisionUtil</servlet-name>
        <url-pattern>/OperatorSimulationCollisionUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterpriseSimulationCollisionUtil</servlet-name>
        <url-pattern>/EnterpriseSimulationCollisionUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>P2pSimulationCollisionUtil</servlet-name>
        <url-pattern>/P2pSimulationCollisionUtil</url-pattern>
    </servlet-mapping>








</web-app>