a:link,a:visited{
    text-decoration:none;  /*超链接无下划线*/
}
a:hover{
    text-decoration:underline;  /*鼠标放上去有下划线*/
    color: #0a6cd6;
}

table {
    table-layout: fixed;
    word-break: break-all;
}
.container{width:100px;margin:0 auto;}
.single{width:100px;margin:0 auto;}
#nav {position:relative; left: 1135px;
    top: 70px;}
nav ul li{position:relative;}
#nav nav ul ul{visibility:hidden;position:absolute;left:-40.5px;}
#nav nav ul li:hover ul{visibility:visible;z-index:100;}
nav ul li{display:inline-block;}
nav ul a{display:inline-block;line-height:30px;width:90px;text-align:center;
    text-decoration:none;font-size: 16px;transition:background 0.5s linear;}
.loan_img{
    position:absolute;width:11px;height:10px;left: 21px;top: 10px;
}
.text_p{
    position:absolute;top: 5px;left: 43px;
}
.loan{
    position:absolute;
    height: 30px;
    width: 223px;
    color:rgba(255, 255, 255, 0.447058823529412);
    font-family:'微软雅黑';
    font-weight:400;
    font-style:normal;
    font-size:14px;
}
#service_1{
    position:absolute;
    width: 180px;
    height: 20px;
}
#title_1,#title_2{
    position: absolute;
    left: 18px;
    color:rgba(255, 255, 255, 0.447058823529412);
    font-family:'微软雅黑';
    font-weight:400;
    font-style:normal;
    font-size:14px;
}

#service_2{
    position:absolute;
    top: 190px;
    width: 150px;
    height: 20px;
}

#title_1_content,#title_2_content{
    position:absolute;
    top: 22px;
    width: 200px;
    height: 140px;
}

#enterprise,#workplace{
    top: 35px;
}
#personaloperator,#chaincode {
    top: 70px;
}

#personalloan,#model{
    top: 105px;
}

#Dashboard{
    top: 140px;
}

#log{
    top: 175px;
}

.loan:hover{
    background: #26afd6;
}